body {
  font-family: 'Lato', sans-serif;
}

.header-center {
  text-align: center;
  padding-bottom: 7px;
}

p {
  font-size: 16px;
}

.navbar {
  background-color: #16647A;
}

.navbar-default .navbar-nav>li>a {
  color: #FCFCFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #6F8F8F;
}

.navbar-default .navbar-nav>li>a:active {
  color: #FF4B3E;
}

#home {
  color: #FCFCFF;
}

#home:hover {
  color: #6F8F8F;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

#headshot {
  margin-top: 7px;
}

.section-dark {
  background-color: #efefef;
}

.section {
  padding: 30px 0 45px;
}

.project {
  padding: 30px;
  width: 570px;
  height: 309px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skill {
  display: inline-block;
  background-color: #464d57;
  padding: 4px 8px;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 5px;
}

.skill:hover {
  background-color: #703030;
  box-shadow: 0 0 2px #9a9a9a;
}
